.projects-list {
  display: grid;
  grid-template-columns: 1fr; /* 33% y 66% aproximadamente */
  grid-auto-flow: dense;
  padding: 20px;
}

.project-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  grid-column: 1;
}

.project-preview-container {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.project-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.project-title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1rem;
}

/* Destacar los proyectos grandes */
.project-item.large {
  grid-column: 2;
}

.project-item:hover .project-preview {
  transform: scale(1.10);
}
